<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% if current_user.admin? %>
  <div class="row justify-content-md-center"><br/><br/>
    <p class="text-danger"><br/><br/>
      Check Secret Codes <%= link_to 'here', index_path %><br/><br/>
    </p>
  </div>
<% end %>
