@import "bootstrap";

.field_with_errors {
  padding: 2px;
  color: red;
  display: table;
}

#error_explanation {
  padding: 10px;
  padding-bottom: 1px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    margin: -10px;
    margin-bottom: 10px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.validation-error
{
  color: #c00;
}
