<table class="table table-bordered table-hover table-light">
  <thead>
    <tr>
      <th>New Secret Codes</th>
    </tr>
  </thead>
  <tbody>
    <% @new_codes.each do |code| %>
      <tr>
        <td><%= code %></td>
      </tr>
    <% end %>
  </tbody>
</table>
