<div class="row">
  <div class="col-7">
    <% if @secret_codes.present? %>
      <table class="table table-bordered table-hover table-light">
        <thead class="table-primary">
          <tr>
            <th>Email</th>
            <th>Secret Code</th>
          </tr>
        </thead>
        <tbody>
          <% @secret_codes.each do |secret_code| %>
            <tr>
              <td><%= secret_code.user.email %></td>
              <td><%= secret_code.code %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="row justify-content-md-center"><br/><br/>
        <p class="text-primary"><br/><br/>
          Currently, No secret code associated with users.
        </p>
      </div>
    <% end %>
  </div>

  <div class="col-5">
    <h4><p class="text-danger">Generate New Secret Codes</p></h4>
    <%= form_tag(generate_path, method: :post, remote: true) do %>
      <div class="form-group">
        <%= label_tag 'No. of secret codes' %>
        <%= select_tag 'secret_code[numbers]', options_for_select(SecretCode::NumberOfCodes, 10), class: 'form-control' %><br/>
        <%= submit_tag 'Generate', type: 'submit', class: "btn btn-outline-success btn-lg btn-block my-sm-2" %>
      </div>
    <% end %>

    <div id="new_codes">
      <% if @new_codes %>
        <%= render partial: 'new_codes' %>
      <% end %>
    </div>
  </div>
</div>
