<!DOCTYPE html>
<html>
  <head>
    <title>Sd2labs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <%= link_to 'SD2 Labs Test', root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to 'Register', new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Dashboard", welcome_index_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <% if current_user %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
              <% else %>
                <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
              <% end %>
            </li>
          </ul>
        </div>
      </nav><hr>
      <div class="row">
        <div class="col-12">
          <% if current_user %>
            Signed in as <%= current_user.email %> | <%= link_to "Logout", destroy_user_session_path, method: :delete, data: {:confirm => "You want to logout ?" } %>
          <% end %>
        </div>
      </div>
      <%= flash_messages %>
      <%= yield %>
      <hr><footer class="footer">
        <p>&copy; SD2 Labs test <%= Date.today.year %></p>
      </footer>
    </div>
  </body>
</html>
